body {

    box-sizing: border-box;
    margin: 0 auto;
    background-color:rgb(245, 247, 186);
    font-family: Arial, Helvetica, sans-serif;

}

.titulo {

font-family: 'Audiowide', cursive, sans-serif;
text-align: center;
color:blue;
font-size: 60px;

}

li {

    display: inline;
    padding: 10px;
    font-size: 20px;
    
}

.links {
    border: 2px solid pink;
    background-color: pink;
    width: 80%; 
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 15px;

}

.destacado{
border: 4px dashed orange;
background-color: rgba(235, 218, 218, 0.774);
width: 80%;
margin-left: 1em;
padding: 1em;
font-size: 20px;


}

.caja2{

 box-shadow: 20px;

    
}