:root{

    --pading-container: 50px 0;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.mi_contenedor{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);

}

.mi_menu {

    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    --pading-container: 0;
    background-color: blue;

}