body {

    background-color: rgb(122, 197, 140);
    width: 80%;
    margin: 0 auto;
}


.titulo {
text-align: center;
}

.subtitulo{
text-align: center;
}

.subtituloleft{
    text-align: left;

}

.img{
display:block;
width: 10%;
margin: 0 auto;
}

ul{
margin: 0;
padding: 0;
display: flex;
width: 100%;
}

li{
flex: 1;
text-align: center;
list-style:none;
}

li a:hover {
    color: lightblue;

}

li a:focus{

    background-color: lightblue;
}


.p{
text-align: left;
}


