* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-size: 16px;

}

.mi_container {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    overflow: hidden;
}

.grid_container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
    overflow: hidden;

}

.mi_tarjeta {

    display: grid;
    gap: 1em;
    padding:  0.5rem 0;
    overflow: hidden;
    justify-items: center;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mi_tarjeta {

      text-align: center;   
}

@media (max-width: 768px){
    .grid_container {
        grid-template-columns: repeat(2, 1fr);

    }


}

@media (max-width: 425px){
    .grid_container {
        grid-template-columns: repeat(1, 1fr);

    }


}

