.caja1{
    margin:2%;
    background-color: #f5c76c;
    padding: 20px;
    border: 10px solid #e7a219;
    width: 40%;
    height: auto;
    text-align: justify;
    float:left;
}

.caja2{
    margin: 2%;
    padding: 20px;
    background-color: #f5c76c;
    border: 3px dashed black;
    border-radius: 10px 50px;
    box-shadow: 5px 9px 3px gray;
    width: 40%;
    text-align: justify;
    clear:both;
    float:left;
}

.caja3{
    margin: 2%;
    padding: 20px;
    width: 40%;
    text-align: justify;
    position: absolute;
    right:0;
    float: right;
}

p.bola{
   
    border:10px solid black;
    border-image-source: url(../img/bola-100.png);
}

p.pastilla {
    padding: 20px;
    border: 25px solid transparent;
    border-image-source: url("../img/pastilla.png");
    border-image-slice: 25;   
    border-image-repeat: stretch;             

}

p.ventana {
    
    border:20px solid ;
    border-image-source: url(../img/ventana.png);
    border-image-slice: 40 18 18 18;
    border-image-width: 30px;


}

p.hormiga{
  border: 12px solid transparent;
    border-image-source: url(../img/hormigas.png);
    border-image-slice: 16 fill;
    border-image-repeat: repeat;
    border-image-width: 12px;
    padding: 10px;

    
}