.caja1{
    margin:2%;
    background-color: #f5c76c;
    padding: 20px;
    border: 10px solid #e7a219;
    width: 40%;
    height: auto;
    text-align: justify;
}

.caja2{
    margin: 2%;
    padding: 20px;
    background-color: #f5c76c;
    border: 3px dashed black;
    border-radius: 10px 50px;
    box-shadow: 5px 9px 3px gray;
    width: 40%;
    text-align: justify;
}

.caja3{



}