* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

.grid-container {

  display: grid;
  grid-template-areas: 
  'header'
  'menu'
  'main'
  'aside'
  'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: purple;
  text-align: center;
  color: #ffffff;
}

.menu {

  grid-area: menu;
}

.contenido{

  grid-area: main;
  display: flex;

}

.header > h1 {
  font-size: 40px;
}

.img{
  width: 50%;
  height: auto;

}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}
  

.contenido > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.contenido > p {
  margin-bottom: 7px;
}

.aside {
  grid-area: aside;
  border: 1px solid #0099cc;
  background-color: beige;
  padding: 10px;
}

.aside > h2 {
  font-size: 20px;
}

.aside li {
  margin-bottom: 5px;
}

.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
}



@media  (min-width: 600px){

  .header {grid-area: 1 /span 6;}
  .menu {grid-area: 2 /span 2;}
  .contenido {grid-area: 2 /span 4;}
  .aside {grid-area: 3 /span 6;}
  .footer {grid-area: 4 /span 6;}
}

@media  (min-width: 769px){

  .header {grid-area: 1 /span 6;}
  .menu {grid-area: 2 /span 1;}
  .contenido {grid-area: 2 /span 4;}
  .aside {grid-area: 2 /span 1;}
  .footer {grid-area: 3 /span 6;}
}
