*{

	border-sizing: border-box;
	max-width: 90%;
	font-style: 'Segoe UI','sans-serif';

}

body {

	background-color: #f1f5f9;
	color: #1f2933;
}

header {
	max-width: 100%;
	background-color: rgb(11, 18, 32);
	display: flex;

}

.menu {

	background-color: rgb(37, 99, 235);

}

.boton{

	background-color: rgb(37, 99, 235);

}

.boton2{

	background-color: rgb(37, 99, 235);

}

.inicio {

	border: 1px solid rgb(37, 99, 235);
	
	text-align: center;
	justify-items: flex-end;

}

.imagen-cabecera {

	max-width: 30%;
	max-height: 30%;
	margin-top: 10px;
	
}

.cabecera {

	display: flex;
	justify-content: space-around;
}