* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /*Centramos verticalmente margin auto hacia los lados*/
  overflow: hidden;
  /*Hacemos que si algo ss sale del contenedor se esconda */
  padding: 50px;
}

.grid-container {

    display: grid;
    grid-template-areas: 'header header header header header header'
        'main   main     main    main     main    aside'
        'nav-izq     nav-dcha    nav-dcha  nav-dcha    nav-dcha  nav-dcha'
        'footer     footer      footer      footer      footer      footer';

    gap: 1rem;
}

.cabecera {
  grid-area: header;
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.nav-izq{
 grid-area: nav-izq;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;
    

.barra_lateral_derecha {
  grid-area: aside;
  background-color: #d1d1d1;
  padding: 1rem;
}

}

.nav-dcha {
 grid-area: nav-dcha;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;

}

.footer {

 grid-area: footer;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;



}