* {

    box-sizing: border-box;

}


.grid-container {

    display: grid;
    grid-template-areas: 'header header header header header header'
        'main   main     main    main     main    aside'
        'nav-izq     nav-dcha    nav-dcha  nav-dcha    nav-dcha  nav-dcha'
        'footer     footer      footer      footer      footer      footer';

    gap: 1rem;
}

.cabecera {

    grid-area: header;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;
}

.nav-izq{
 grid-area: nav-izq;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;
    


}

.nav-dcha {
 grid-area: nav-dcha;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;

}

.footer {

 grid-area: footer;
    background-color: green;
    color:white;
    text-align: center;
    padding: 1rem;



}